@import "reset";
@import "bourbon/bourbon";

body {
    background: url(http://www.samkapila.com/parts/images/texture.svg), #eee9cc;
    color: #21221A;
    font-family: "news-gothic-std",sans-serif;
    font-style: normal;
    font-weight: 400;
    position: relative;
    line-height: 1.5;
    &:before {
        background: url(http://upload.wikimedia.org/wikipedia/commons/c/ce/Marcel_Duchamp.jpg);
        width: 300px;
        height: 230px;
        opacity: .3;
        content: "";
        position: absolute;
        background-size: 200px;
        right: 0px;
        transform: rotate(5deg);
    }
}

p {
    max-width: 600px;
    margin-bottom: 30px;
    display: block;
    font-size: 20px;
    &:nth-of-type(odd) {
        font-weight: bold;
        padding-left: 30px;
    }
}

a {
    color: red;
    opacity: .7;
    text-decoration: none;
    border-bottom: 5px solid red;
}

h1, h2, h3, h4, h5, h6 {
    color: #416e8f;
    font-weight: bold;
    font-family: "adelle-condensed",sans-serif;
    font-style: normal;
    font-weight: 600;
    -webkit-mask-image: url(http://www.samkapila.com/texture.png);
    // mask-type: luminance;
}

h1 {
    font-size: 50px;
    position: relative;
    z-index: 4;
    color: opacify(#21221a, 0.55);
    padding-left: 60px;
    padding-bottom: 5px;
    padding-top: 30px;
    // mask-type: alpha;
}

h2 {
    font-size: 26px;
    position: relative;
    z-index: 4;
    padding-bottom: 20px;
    padding-left: 60px;
    opacity: .9;
    color: #21221A;
    text-transform: uppercase;
    &:before {
        content: "DADA";
        color: red;
        opacity: .5;
        font-size: 35px;
        position: absolute;
        z-index: 3;
        top: -5px;
    }
    &:after {
        content: "DADA DADA";
        color: red;
        opacity: .5;
        font-size: 30px;
        position: absolute;
        z-index: 3;
        top: -15px;
    }
}

h3 {
    font-size: 30px;
}

.page-wrapper {
    width: 90%;
    margin: 20px auto;

}

.intro {
    position: relative;
    &:before {
        content: "";
        width: 200px;
        height: 200px;
        display: block;
        position: absolute;
        top: 10px;
        background: url(img/wheel.png) no-repeat;
        background-size: 25%;
        animation: spin 3s infinite;
        -webkit-transition: spin 4s infinite;
        transform-origin: 25px 25px;
    }
    &:after {
        content: "";
        width: 200px;
        height: 500px;
        display: block;
        position: absolute;
        top: 0px;
        left: -18px;
        background: url(img/base.png) no-repeat;
        background-size: 45%;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}


@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}


.summary {
    padding: 30px 0;
    max-width: 600px;
    position: relative;
    font-weight: 700;
    p {
        max-width: 500px;
    }
    &:before {
        content: "{";
        color: red;
        opacity: .4;
        font-size: 70px;
        position: absolute;
        z-index: 2;
        top: -2px;
        left: -20px;
        font-family: "adelle-condensed",sans-serif;
    }
    &:after {
        content: "}";
        color: red;
        opacity: .4;
        font-size: 70px;
        position: absolute;
        z-index: 2;
        top: 7px;
        right: 0;
        font-family: "adelle-condensed",sans-serif;
    }
}

.preamble {
    padding: 30px 0;
    padding-left: 7%;
    position: relative;
    z-index: 4;
    &:before {
        content: "The Road to Enlightenment";
        color: red;
        opacity: .4;
        font-size: 40px;
        position: absolute;
        z-index: 2;
        top: 0px;
        font-family: "adelle-condensed",sans-serif;
    }
}

.main {
    padding: 0 7%;
    padding-top: 100px;
    position: relative;
    h3:before {
        content: "about?";
        color: red;
        opacity: .4;
        font-size: 70px;
        position: absolute;
        z-index: 2;
        top: 80px;
        height: 300px;
        right: 0;
        transform: rotate(-45deg);
        font-family: "adelle-condensed",sans-serif;
    }
    &:before {
        background: url(http://uploads6.wikiart.org/images/marcel-duchamp/l-h-o-o-q-mona-lisa-with-moustache-1919.jpg) no-repeat;
        width: 200px;
        height: 200px;
        background-size: 50%;
        content: "";
        position: absolute;
        left: -6%;
        top: -60px;
        z-index: -1;
        font-family: "adelle-condensed",sans-serif;
        color: red;
        opacity: .6;
    }
    &:after {
        content: "about?";
        color: red;
        opacity: .4;
        font-size: 70px;
        position: absolute;
        z-index: 2;
        top: 80px;
        right: 0;
        transform: rotate(-45deg);
        font-family: "adelle-condensed",sans-serif;
    }
}

.participation {
    padding: 0 20%;
    padding-top: 100px;
    position: relative;
    &:before {
        background: url(https://img1.etsystatic.com/000/0/5210765/il_570xN.178040283.jpg) no-repeat;
        width: 200px;
        height: 200px;
        background-size: 70%;
        content: "";
        position: absolute;
        right: -20%;
        top: 30px;
    }
    &:after {
        content: "participation";
        color: red;
        opacity: .4;
        font-size: 70px;
        position: absolute;
        z-index: 2;
        top: 90px;
        right: 0;
        font-family: "adelle-condensed",sans-serif;
    }
}

.benefits {
    top: 100px;
    h3 {
        color: white;
        z-index: 4;
    }
    background: url(http://www.samkapila.com/parts/images/texture.svg), opacify(#416e8f, 0.25);
    // -webkit-mask-image: none;
    padding: 30px;
    padding-bottom: 60px;
    color: white;
    position: relative;
    right: 0;
    &:before {
        content: "benefits";
        color: red;
        opacity: .3;
        font-size: 70px;
        position: absolute;
        z-index: 2;
        top: 10px;
        right: -30px;
        // transform: rotate(-45deg);
        font-family: "adelle-condensed",sans-serif;
    }
    &:after {
        content: "benefits";
        color: red;
        opacity: .3;
        font-size: 70px;
        position: absolute;
        z-index: 2;
        top: 0;
        right: -30px;
        // transform: rotate(-45deg);
        font-family: "adelle-condensed",sans-serif;
    }
}

.requirements {
    padding-top: 200px;
    position: relative;

    &:before {
        background: url(https://upload.wikimedia.org/wikipedia/en/4/49/MechanicalHead-Hausmann.jpg) no-repeat;
        width: 500px;
        height: 800px;
        background-size: 100%;
        content: "";
        position: absolute;
        // top: -60px;
        z-index: 5;
        right: -200px;
        transform: rotate(10deg);
        opacity: .3;
    }
}

    footer {
        font-family: "adelle-condensed",sans-serif;
        position: relative;
        z-index: 5;
        &:before {
            background: url(http://ny-photography-diary.com/wp-content/uploads/2015/07/MR.jpg) no-repeat;
            width: 500px;
            height: 400px;
            background-size: 100%;
            content: "";
            position: absolute;
            // top: -60px;
            z-index: -1;
            left: -12%;
            transform: rotate(10deg);
            opacity: .7;
        }

    a {
        color: black;
        font-size: 40px;
        margin-right: 40px;
        display: block;
        z-index: 6;
        // width: 0px;
        float: left;
        &:nth-of-type(odd) {
            margin-top: 20px;
            font-size: 50px;
        }
    }
}

aside {
    clear: both;
    position: relative;
    top: 300px;
}

.design-selection, .design-archives, .zen-resources {
    float: left;
    width: 31.333%;
    margin-right: 3%;
    li {
        margin-bottom: 20px;
    }
}

.zen-resources {
    margin-right: 0;
}